<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Workshop: Build Your Own Adyen Payment Integration</title>
</head>
<body>
<div layout:fragment="content">
    <div class='main-container'>
        <div class="info">
            <h1>Workshop: Build Your Own Adyen Payment Integration</h1>
        </div>
        <ul class="integration-list">
            <li class="integration-list-item">
                <a href="https://adyen.com" class="integration-list-item-link">
                    <div class="title-container">
                        <p class="integration-list-item-title">Example link</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
