<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Workshop: Build Your Own Adyen Payment Integration</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/application.css"/>
</head>
<body>
<div layout:fragment="content">
    <div class='main-container'>
        <div class="info">
            <h1>Workshop: Build Your Own Adyen Payment Integration</h1>
        </div>
        <ul class="integration-list">
            <li class="integration-list-item">
                <a href="https://adyen.com" class="integration-list-item-link">
                    <div class="title-container">
                        <p class="integration-list-item-title">Example link</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
